*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #F8F9D7;
}
nav{
    border-bottom: 1px solid #B2C8DF;
    box-shadow: 0px 1px 10px rgb(110, 133, 183);
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu li{
    display: inline-block;
    color: rgb(110, 133, 183);
    text-transform: uppercase;
    letter-spacing: 0.25px;
    margin-left: 10px;
    cursor: pointer;
    transition: .25s;
}
.menu li:hover{
    color: rgb(90, 107, 136);
}
.container{
    width: 80%;
    margin: 0 10%;
}
.title{
    text-align: center;
}
.mt-5{
    margin-top: 2.5em;
}
.p-5{
    padding: 2em;
}
.title h1{
    font-size: 48px;
    margin-top: 1rem;
}
.item{
    width: 30%;
    border: 0.5px solid #B2C8DF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.w-100{
    width: 100%;
}
.img-radius{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.item-info *{
    margin: 10px 0;
}
.item-info span{
    color: rgb(110, 133, 183);
}